/*
tanks
*/

/* COLOR PALETTES FROM COOLORS.CO */
:root {
  /* CSS HEX */
  --fire-opal: #eb5e55;
  --black-coffee: #3a3335;
  --ruby: #d81e5b;
  --papaya-whip: #fdf0d5;
  --opal: #c6d8d3;
  /* CSS HEX */
  --middle-green: #4b7f52;
  --mantis: #7dd181;
  --magic-mint: #96e8bc;
  --magic-mint-2: #b6f9c9;
  --aero-blue: #c9ffe2;
}

body {
  background-color: var(--papaya-whip);
}
canvas {
  border: 1px solid var(--papaya-whip);
}

/* MODAL TEMPLATE FROM https://alligator.io/html/dialog-element/ */
dialog {
  background-color: var(--opal);
  color: var(--black-coffee);
  text-align: center;
  border: 5px solid var(--fire-opal);
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.25);
  max-width: 90vw;
}

dialog[open] {
  animation: appear 0.15s cubic-bezier(0, 1.8, 1, 1.8);
}

dialog::backdrop {
  background: linear-gradient(45deg, rgba(0, 143, 104, 0.5), rgba(250, 224, 66, 0.5));
}

dialog .actions {
  display: flex;
  justify-content: space-around;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
